header#profile-image {
  height:400px;
  width: 100%;
  background-color: rgb(235, 172, 48);
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
  font-size: 24px;
}

.centered-header {
  display: block;
  margin: 0 auto;
  text-align:center;
  color: #f4f1ec;
  font-weight: 600;
}

h2 span {
  font-family: Source Sans Pro;
  font-weight: 300;
}
