#default-layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3em 1em 0em 3em;
}

.box {
    width: 50%;
} 

@media screen and (max-width: 1024px) {
  .box {
    width: 100%;
  }
  #default-layout {
  padding: 0;

  }
  header#profile-image {
    width: 100vw; 
    max-width: 100%;

  }
  nav {
    height: 40px;
    background-color: #d12c52;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  }
  .return-to-top:hover {
    background: #d12c52;
  }
  .return-to-top {
    background: #d12c53b6;
  }
  input {
    background-color:#d12c52;
  }
  i {
    color:#d12c52;
  }
  main {
    padding: 1em;
  }

} 