nav {
  height: 120px;
  position: sticky;
  width: 100%;
  z-index: 10;
  background-color: #4056A1;
  color: #f4f1ec;
  padding: 1.5em;
  font-size: 35px;
  top: 0;
  font-family: Bungee;
}

nav div {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}

nav div span {
  font-weight: 300;
}

nav.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#compose, .arrow-down {
  background-color: rgba(127, 255, 212, 0);
  color: #f4f1ec;
  border: none;
}

.arrow-down {
  color: rgb(246, 68, 13);
}

@-webkit-keyframes arrow-jump {
  0%   { 
    transform: translateY(0px);
    color: rgb(246, 68, 13);
  }

  25% {
    color: rgb(228, 179, 21);

  }
  50% {
    transform: translateY(7px);
    color: rgb(246, 68, 13);

  }
  75% {
    color: rgb(228, 179, 21);

  }
  100% { 
    transform: translateY(0px);
    color: rgb(246, 68, 13);

  } 
    
}
#arrow {
  animation: arrow-jump 1.4s infinite;
}
