textarea {
  margin: 0 auto;
  margin-top: 45px;
  width: 100%;
  height: 30px;
  resize: none;
  font-family: Source Sans Pro;
  font-size: 1.1em;
  font-weight: 600;
  color: #545149;
  background-color: #f4f1ec;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 3px;
  border-bottom-color: #545149;
  outline: none;
  overflow: hidden;
}

.new-tweet {
  display: none;
}

input {
  background-color: rgba(160, 160, 160, 0.842);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  font-family: Bungee;
  color: #f4f1ec;
  border: none;
  border-radius: 3px;  
  display: inline-block;
  margin-bottom: 30px;
  font-size: 1.1em;
}



.counter {
  font-family: Bungee;
  color: #545149;
}

div.container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.red {
  color: #d12c52;
}

.has-errors {
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  font-weight: 700;
  width: 100%;
  text-align: center;
  background-color: rgba(206, 73, 73, 0.514);
  color: rgba(146, 41, 41, 0.808);
}

.icon-has-error {
  color: rgba(146, 41, 41, 0.808);
}

#if-is-empty {
  display: none;
}

#if-is-too-long {
  display: none;  
}

.centered-alert {
  display: flex;
  align-content: center;
}