article {
  padding: 0.3em;
  border: 3px solid;
  border-color: #545149;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1em;
}

article:hover {
  /* text-shadow: 
  1px 1px 0 #7773695d; */
  box-shadow: 
  5px 5px 10px #5451497e;
  font-weight: 400;

}

article:hover header span.handle {
  color: #5451497e;
  font-weight: 700;
  opacity: 1;
}

img {
  max-width: 30%;
  height: auto;
}

article.tweet header {
  padding: 1em 0.7em;
  padding-bottom: 0.8em;
}

.name {
  padding: 0.5em;
}

article.tweet main {
  display: inline-block;
  width: 100%;
  padding: 1em 0.7em;
  padding-bottom: 1.4em;
  border-bottom: 3px solid;
  border-color: #545149;
}

article.tweet footer {
  font-size: 0.8em;
  padding: 0.7em;
  padding-top: 0.4em;
}

.handle {
  opacity: 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container-name {
  display: flex;
  align-items: center;
}

i {
  padding-left: 4px;
  color: #4056A1;
}
